@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

.titleComponent {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: calc(100vh - calc(#{var(--spacing)} * 10));
}

.mainTitle {
  display: block;
}

h1 {
  height: 1em;
  color: #DEDEDE;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 96pt;
  bottom: 0px;
}

h4 {
  height: 1em;
  color: #DEDEDE;
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-size: 34pt;
}

.pageDivider {
  position: absolute;
  bottom: 0;
}