@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

$spacing: 8px;

.title {
  margin-left: calc(#{$spacing} * 25);
  margin-top: calc(#{$spacing} * 30);
  h1 {
    color: #DEDEDE;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 96pt;
  }
}