@mixin overline-font($font-size, $letter-spacing, $text-align) {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: $font-size;
  color: #FFFFFF;
  letter-spacing: 0.25px;
  text-align: $text-align;
  line-height: calc(#{$font-size} + 6px);
  letter-spacing: $letter-spacing;
  opacity: 0.87;
}

.titleComponent {
  margin-bottom: calc(#{var(--spacing)} * 2);
}

.title {
  @include overline-font(14px, 2px, left);
  margin-bottom: calc(#{var(--spacing)} * 2);
  text-transform: uppercase;
}

.underline {
  height: 1px;
  background-color: #BC6FF1;
  margin-bottom: calc(#{var(--spacing)} * 2);
}
