@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

.titleComponent {
  position: relative;
  // overflow-x: hidden;
  width: 100%;
  height: calc(100vh - 200px);
}

.mainTitle {
  display: block;
}

h1 {
  height: 1em;
  color: #DEDEDE;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 96pt;
  bottom: 0px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 10%;
}

h4 {
  height: 1em;
  color: #DEDEDE;
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-size: 34pt;
}

.pageDivider {
  width: 100%;
  position: absolute;
  bottom: 0;
}
