@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

.titleComponent {
  position: relative;
  height: calc(100vh - 100px);
  @media screen and (max-width: 414px) {
    height: 100vh;
  }
}

.memoji {
  width: 200px;
  display: block;
  margin-top: 15vh;
  margin-left: 50%;
  transform: translateX(-50%);
  @media screen and (max-width: 414px) {
    width: 150px;
    margin-top: 55%;
    position: relative;
    z-index: 3;
  }
}

.pageDivider {
  width: 100%;
  position: absolute;
  bottom: 0;
}
