.aboutComponent {
  margin-top: var(--vertical-component-spacing);
  max-width: calc(300px + calc(#{var(--spacing)} * 15));
  display: block;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 375px) {
    max-width: var(--iphone-component-width);
  }
}