.typewriter {
  width: fit-content;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: calc(var(--spacing) * 3);
  font-family: "NerdFont";
  @media screen and (max-width: 414px) {
    position: absolute;
  }
}

.typewriter-text-container {
  display: flex;
  flex-direction: column;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 800;
  border-right: 10px solid white;
  box-sizing: border-box;
  animation: typing 2s steps(30, end), blink .75s step-end infinite;
  // animation-fill-mode: forwards;
  &:last-child { 
    animation: typing-last-sentence 4s steps(30, end), blink .75s step-end infinite;
  }
  @media screen and (max-width: 414px) {
    font-size: 18px;
    position: relative;
    z-index: 4;
    margin-bottom: var(--spacing);
  }
}

@keyframes typing {
  0% { 
    width: 0%;
    border-right: 10px solid white;
  }
  99% { 
    width: 100%;
    border-right: 10px solid white;
  }
  100% { 
    width: 100%;
    border-right: 0px solid white;
  }
}

@keyframes typing-last-sentence {
  0% { 
    width: 0%;
    border-right: 0px;
  }
  50% { 
    width: 0%;
    border-right: 10px solid white;
  }
  100% { 
    width: 100%;
    border-right: 10px solid white;
  }
}

@keyframes blink {
  from, to { 
    border-color: transparent 
  }
  50% { 
    border-color: white; 
  }
}