.grid {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: var(--column-1) var(--column-2) var(--column-3);
  grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "hd hd hd"
    "tp tp tp"
    "about about soc"
    "sp sp soc"
    "exp exp soc"
    "ft ft ft"
  ;
  @media screen and (max-width: 375px) {
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "hd"
      "tp"
      "about"
      "sp"
      "exp"
      "soc"
      "ft"
    ;
  }
}

.headerComponent {
  grid-area: hd;
}
.titleComponent {
  grid-area: tp;

}
.aboutComponent {
  grid-area: about;
}
.spotifyProjectComponent {
  grid-area: sp;
}
.experienceComponent {
  grid-area: exp;

}
.socialsComponent {
  grid-area: soc;
}
.footerComponent{
  grid-area: ft;
}
