@import "./global-style/spacings";
@import "./global-style/mixins";
@import "./global-style/size_config";
@import "./global-style/grid_config";

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 0;
  padding:0
}

h4 {
  margin: 0;
  padding:0
}

img {
  margin: 0;
  padding: 0;
}
