@import "./style/spacings";
@import "./style/mixins";
@import "./style/size_config";
@import "./style/grid_config";

@font-face {
  font-family: 'NerdFont';
  src: local('NerdFont'), url(./fonts/MesloLgMRegularNerdFontComplete.ttf) format('truetype');
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  padding:0
}

h4 {
  margin: 0;
  padding:0
}

img {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
