@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

@mixin overline-font($font-size, $letter-spacing, $text-align) {
  font-family: 'NerdFont';
  font-size: $font-size;
  color: #FFFFFF;
  text-align: $text-align;
  line-height: calc(#{$font-size} + 10px);
  letter-spacing: $letter-spacing;
  opacity: 0.87;
}

.container {
  width: fit-content;
  height: auto;
  margin-top: calc(#{var(--spacing)} * 1);
}

.card {
  position: relative;
  background-color: #111111;
  padding: calc(#{var(--spacing)} * 3);
  border-radius: 5px;
}

.text {
  @include overline-font(var(--body-font-size), 0px, left);
  white-space: pre-line;
  justify-content: space-evenly;
  user-select: none;
}

.text div p a {
  color: #BC6FF1 !important;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: yellow !important;
  }
}
